<%- include('partials/header') %>

<header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1633114127451-558041183c3b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Clean Blog</h1>
                    <span class="subheading">A Blog Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <%  data.forEach( (d) => { %>

    <div class="row">
        <div class="col-lg-3 mx-auto">
            <img class="img-thumbnail" src="<%= d.image %>" alt="blog images">
        </div>
        <div class="col-lg-9 mx-auto">
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title"> <%= d.postTitle %> </h2>
                    <h3 class="post-subtitle"><%= d.postSubtitle %></h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Start Bootstrap</a>
                    on September 24, 2021
                </p>
            </div>
                <hr>



            <!-- Pager-->
        </div>
        </div>
        <% }) %>
        <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>

</div>
</div>

<%- include('partials/footer') %>
